<form action="/newDiveData" method="post">
    <input type="text" name="date" placeholder="mm/dd/yyyy" value="">
    <input type="text" name="max_depth" placeholder="max depth" value="">
    <input type="text" name="avg_depth" placeholder="avg depth" value="">
    <input type="text" name="duration" placeholder="duration" value="">
    <input type="text" name="dive_site" placeholder="dive site" value="">
    <input type="text" name="dive_buddy" placeholder="name of dive buddy" value="">
    <input type="text" name="gear_config" placeholder="gear config type" value="">
    <button type="submit">Add new Dive</button>
</form>