body {
    width: 480px;
    display: flex;
    flex-direction: column;
}

header {
    background-color: gray;
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
}

main {
    background-color: darkgrey;
    /* display: flex;
    flex-direction: row;
    height: 60%; */
}

footer {
    background-color: gray;
    /* display: flex;
    flex-direction: column; */
    height: 20%;
    width: 100%;
}

@media (min-width:768px) {
    body {
        width: 960px;
        display: flex;
        flex-direction: column;
    }
    header {
        background-color: gray;
        display: flex;
        flex-direction: column;
        height: 20%;
        width: 100%;
    }
    main {
        background-color: darkgrey;
        display: flex;
        flex-direction: row;
        height: 60%;
    }
    footer {
        background-color: gray;
        display: flex;
        flex-direction: column;
        height: 20%;
        width: 100%;
    }
}