<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- incude('../partials/header') %>
    </header>

    <main>
        <p>well that did not work.... damn...</p>
    </main>
    <footer>
        <&- include( '../partials/footer') %>
    </footer>
</body>

</html>